:root {
	--color-primary: #FFFFFF;
	--color-secondary: #333333;
	--color-brand: #28A745;
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul,
ol {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

img {
	display: block;
}

.container {
	width: 1360px;
	margin: 0 auto;
}

/* HEADER */

header .container {
	padding: 0 28px;
	background-color: grey;
}

.nav-page {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
	color: var(--color-primary);
	font-size: 35px;
	line-height: 1.20;
	padding-top: 12px;
	padding-bottom: 12px;
}

.accent {
	color: var(--color-brand);
	font-size: 35px;
	line-height: 1.20;
}

.nav-list {
	display: flex;
	gap: 40px;
	align-items: center;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.56;
}

.nav-item {}

.nav-link {
	display: block;
	color: var(--color-primary);
	font-size: 18px;
	line-height: 1.56;
	padding-top: 20px;
	padding-bottom: 20px;
}

.hero-section {

}

.hero-section-main {
	color: #E9E9E9;
	text-align: center;
	font-family: Open Sans;
	font-size: 55px;
	font-style: normal;
	font-weight: 300;
	line-height: 1.2; /* 120% */
	width: 493px;	
	margin-bottom: 24px;
}
.hero-section-str {
	color: #E9E9E9;
	text-align: center;
	font-family: Open Sans;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.67; /* 167.273% */	
	width: 459px;
	margin-bottom: 32px;
}
.hero-section-str-red {
   padding: 10px 28px;
   color: var(--color-primary);
   flex-shrink: 0;
   border-radius: 5px;
   background: #28A745;  
   text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
 font-weight: 400;
 line-height: 28.16px; /* 156.444% */
}

.hero-section .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.hero-section{
	padding: 280px 0;
}

